@if(isAddingTask)
{
  <app-list (canceltask)="onCancelAddList()" (add)="onAddList($event)"></app-list>
}

<div class="menu_sidebar">
  <nav>
    <ul>
      @for(menu of menu_list; track menu.menu_id)
      {
        <li>
           @if(originalMenuIds.has(menu.menu_id)){
              <button [class.active]="isActive(menu.path)" (click)="onSelectMenu(menu.path)"> 
                <img [src]="'assets/icons/'+ menu.icon" [alt]="menu.name"/>
                <span>{{menu.name}}</span>
              </button>
            }

          @else {
            <button [class.active]="selectedCategoryId === menu.menu_id" (click)="onSelectCategory(menu.menu_id)"> 
              <img [src]="'assets/icons/'+ menu.icon" [alt]="menu.name"/>
              <span>{{menu.name}}</span>
              <div class="dropdown-wrapper" (click)="$event.stopPropagation()">
                <div class="dots-button" (click)="toggleDropdown(menu.menu_id); $event.stopPropagation()">...</div>
                @if (openDropdownId === menu.menu_id) {
                  <ul class="dropdown-menu">
                    <li (click)="onDeleteMenu(menu.menu_id); $event.stopPropagation()">Delete</li>
                  </ul>
                }
              </div>
            </button>
          }
        </li>
      }
  
      <button class="add_button" (click)="onStartAddList()">
        <img src="assets/add_icon.png" alt="Add icon"/>
        <span>Add</span>
      </button>
      
    </ul>
  </nav>
</div>
