<div class="main-container"  [class.menu-open]="!isCloseMenu">
    @if(!isCloseMenu)
    {
        @for(c of category_list; track c.menu_id)
        {
            <div class="sidebar">
                <app-menu [category]="c" (select)="onSelectCategory($event)"></app-menu>
            </div>
        }
    }
    
    <div class="today_list">
        <!-- <header>
            <button (click)="onCloseMenu()">☰</button>
            <span>Today</span>
            <div class="input-wrapper">
                <input type="text" placeholder="+ Add task to &quot;Inbox&quot;" id="add" name="title" (focus)="showDate=true" (blur)="hideDatePicker()"/>
                @if(showDate) 
                {
                    <div class="date-input" (mousedown)="preventBlur = true" (mouseup)="preventBlur = false">
                        <input type="date" id="date-input" name="dueDate" (blur)="hideDatePicker()"/>
                        <button class="submit-button" type="submit"><img src="assets/submit.png"></button>
                    </div>
                }
            </div>
        </header> -->

        <header>
            <button (click)="onCloseMenu()">☰</button>
            <span>Today</span>
            
                <form (ngSubmit)="onAdd()">
                    <div class="input-wrapper">
                        <input type="text" placeholder="+ Add task to &quot;Inbox&quot;" id="add" name="title" required
                        [(ngModel)]="todayNewtask.title" (focus)="showDate=true" (blur)="hideDatePicker()"/>
                        @if(showDate) 
                        {
                            <div class="date-input" (mousedown)="preventBlur = true" (mouseup)="preventBlur = false">
                                <input type="date" id="date-input" name="dueDate" required 
                                [(ngModel)]="todayNewtask.dueDate" (blur)="hideDatePicker()"/>
                                <button class="submit-button" type="submit"><img src="assets/submit.png"></button>
                            </div>
                        }
                    </div>
                </form>
            
        </header>

        @if(todayTasks.length === 0)
        {
            <div class="empty-list">
                <div class="image"></div>
                <span class="text1">No tasks today</span>
                <span class="text2">Relax with a cup of tea</span>
            </div>   
        }
        @else {
            <div class="task-section">
                @for (task of todayTasks; track task.id) {
                    <div class="task-row">
                        <div class="task">
                        <div class="left-content">
                            <input type="checkbox" />
                            <span class="title">{{ task.title }}</span>
                        </div>
                        <span class="day">{{ task.dueDate | date: 'MMM d' }}</span>
                        </div>
                    </div>
                }
            </div>
        }
        
    </div>
</div>
