.main-container {
  display: flex;
  width: 100%;
  height: 90vh; 
  transition: all 0.3s ease;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh; 
  background: white; 
  border-right: 1px solid #f2f0f0;
  z-index: 1000;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.menu-closed .sidebar {
  transform: translateX(-100%);
}

.today_list {
  flex: 1;
  padding: 2rem;
  margin-left: 0;
  height: 90vh; 
  box-sizing: border-box;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  
}

.menu-open .today_list {
  margin-left: 240px;
}

header {
  padding-bottom: 1rem;
  margin-bottom: 2px;
  margin-top:-18px;
}

header button {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right:5px;
  color: grey
}

header span {
  font-size: 22px;
  font-weight: 500;
}


#add {
  width: 100%;
  padding: 0.50rem 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  border: 1px solid #f0efef;
  background-color: #f0efef;
  margin-top: 1rem;
  margin-left: 6px;

}

#add::placeholder {
  color: #bcbbbb; 
  opacity: 1;  
}

#add:focus {
  border-color: blue;
  outline: none;
  background-color:white;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.date-input {
  position: absolute;
  top: 64%;
  right: -2%;
  transform: translateY(-50%);

  display: flex;
  gap: 6px;
  align-items: center;
}

.date-input input {
  height: 28px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  color: #007bff; 
  text-shadow: none; 
}

.date-input input:focus {
  border-color: #007bff;
  outline: none;
}

.date-input .submit-button {
  padding: 4px 8px;         
  font-size: 12px;          
  height: 28px;              
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-input .submit-button img {
  width: 20px;               
  height: 20px;
}

.empty-list {
  margin-top: 11rem;
  text-align: center;
}

.empty-list .image {
  background-image: url('/assets/new-tea-cup.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 150px;
  margin: auto;
}

.empty-list .text1 {
  color: black;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.empty-list .text2 {
  color: #666;
  display: block;
  font-size: 12px;
}

.task-row {
  display: flex;
  margin-left: 10px;
  gap: 12px;
}


.task {
  padding: 8px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-left: -1px;
  flex:1;
}

.task:hover {
  background-color: rgb(227, 226, 226);
}

.left-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

input[type="checkbox"] {
  position: relative;
  top: 2px; 
}

.title {
  margin: 0;
  font-size: 14px;
}

.day {
  color: blue;
  font-size: 11px;
}


.dropdown-wrapper {
  position: relative;
}

.dots-button {
  padding: 4px 8px;
  cursor: pointer;
  color:rgb(162, 162, 162)
  
}

.dropdown-menu {
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  z-index: 1100;
  width: 140px;
  margin-left: -80px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
  padding:0;
  height: 240px; 
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin:0;
  white-space: nowrap;
}

.dropdown-menu .delete:hover {
  background-color: #f6e4e4;
  color:red
}

.subtask-section .dropdown-menu {
  height: 173px;
}

.subtask-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  gap: 12px;
}

.task, .subtask {
  padding: 8px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-left: -1px;
  margin-bottom: 10px;
  flex:1;
}

.subtask:hover {
  background-color: rgb(227, 226, 226);
}

.pinned-subtask-row {
  margin-left: 30px;
  gap: 12px;
}

.subtask.pinned {
  background-color: #aeaaaa;
}

.pinned-section {
  margin-bottom: 1rem;

  h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .task.pinned {
    background-color: #b2b2b2;
    border-left: 4px solid #888887;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
  }

  .divider {
    border: none;
    border-top: 2px dashed #ccc;
    margin-top: 1rem;
  }
}

.dropdown-menu .pin:hover {
  background-color: #ccc;
}


.dropdown-menu .high-priority:hover, .medium-priority:hover, .low-priority:hover, .no-priority:hover, .subtask-add:hover {
  background-color: #ccc;
}

.dropdown-menu .high-priority, .medium-priority, .low-priority, .no-priority {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu .high-priority img, .medium-priority img, .low-priority img, .no-priority img{
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.task.completed, .subtask.completed {
  background-color: #e0e0e0;
  color: #666;
  border: 1px solid #ccc;
  width: 90%;
}


.task.completed input[type="checkbox"], .subtask.completed input[type="checkbox"]{
  accent-color: grey; 
}

.task.completed .title, .subtask.completed .title{
  color: #666;
}

.task.completed .day,  .subtask.completed .day{
  color: #888;
}

.completed-section .task-row {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.completed-section .subtask-row {
    display: flex;
    flex-direction: column; 
    margin-left: 30px; 
    gap: 10px; 
}

.completed-section .task.completed, 
.completed-section .subtask.completed {
    width: 100%; 
}

.input-wrapper {
  position: relative;
  width: 100%;
  
}

.input-subtask-wrapper {
  position: relative;
  width: 90%;
  margin-left: 24px;
  margin-bottom: 20px;
}

.date-input, .subtask-date-input {
  position: absolute;
  top: 64%;
  right: -2%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
  align-items: center;
}

.date-input input, .subtask-date-input  input {
  height: 28px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  color: #007bff; 
  text-shadow: none; 
}

.date-input input:focus, .subtask-date-input:focus {
  border-color: #007bff;
  outline: none;
}

.date-input .submit-button, .subtask-date-input .submit-button {
  padding: 4px 8px;         
  font-size: 12px;          
  height: 28px;              
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-input .submit-button img, .subtask-date-input  .submit-button img{
  width: 20px;               
  height: 20px;
}